* {
  font-family: 'Arimo Nerd Font';
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: #3F4238;
  color: white;
  border-top: solid 1px #6B705C;
}

window .horizontal {
  padding: 0 6px;
}

#workspaces button,
#tags button {
  margin-right: 2px;
  padding: 0 2px;
  color: white;
}

#workspaces button.visible,
#tags button.occupied {
  background: #B7B7A4;
  color: black;
}

#workspaces button.focused,
#tags button.focused {
  background: #6B705C;
  color: white;
}

#workspaces button:hover,
#tags button:hover {
  background: #6B705C;
  color: white;
}

#window.focused {
  color: #FFE8D6;
}

#workspaces button, .modules-right label, #custom-appmenu {
  padding-top: 3px;
}

#battery icon {
  color: red;
}

#clock { opacity: 0.6; }
#cpu { color: #CDFFD0; padding-right:8px; }
#temperature { color: #FFC9C9; }
#memory { color: #CFD6FF; padding-right:8px; }
#battery { color: #96FFF9; }
#language { color: #5FFF9D; padding-right: 10px;}
#backlight { opacity: 0.8; padding-right:8px; }
#wireplumber { color: #E1C3B6; }
#custom-apps { padding-right: 8px;}
#custom-power { padding-right: 8px;}
#custom-notification { color: #88FF92; }

#temperature.critical {
  background: #f53c3c;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background: #f53c3c;
}
